html, body, * {
  border: none;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;

}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 1em;
  cursor: pointer;
  background-color: black;

}
.button {
  outline: none;
}
.navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.navbar-button {
  font-size: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 150px;
  color: white;
  margin-bottom: 1em;
}
body{
  background-color: #9BA5FF;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.image {
  margin: 100px;
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.book {
  display: block;
  margin-bottom: 2em;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}

.book-cover {
  max-width: 50%;
  height: auto;
}

.book-description {
  max-width: 50%;
}

.book-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.book-author {
  font-style: italic;
  margin-bottom: 1rem;
}

.book-summary {
  margin-bottom: 2rem;
}

.book-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.buy-ebook, .buy-audio {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #53d03a;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.buy-ebook:hover, .buy-audio:hover {
  background-color: #53d03a;
}
.btn {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
.icone {
  width: 50px;
}
