html, body, * {
  border: none;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;

}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 1em;
  cursor: pointer;
  background-color: black;

}
a {
  outline: none;
}
.navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.navbar-button {
  font-size: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 150px;
  color: white;
  margin-bottom: 1em;
}
body{
  background-color: #9BA5FF;
}

/*****carrousel 3d automatique*****/

*{box-sizing : border-box}

img{max-width:100%}

.contenu_carou_auto{

margin:2rem auto;
width:420px;
height:279px;
perspective:8000px
	
	}
		
.caroussel-image{
	
animation:rotation 24s infinite alternate linear;	
transform-style:preserve-3d;
position:relative;	

}

.caroussel-image img{
	
position: absolute;
top:0;
left: 0;
	
	
	}


		
.caroussel-image img{
	
filter:drop-shadow(0 12px 5px hsla(0,0%,0%,.4));
width:400px;
height:266px;
left:10px;
outline:1px solid transparent;
backface-visibility:hidden
	
	}
		
.caroussel-image img:nth-child(1){
	
transform:translate3d(0,0,495px)
		
		}
		
.caroussel-image img:nth-child(2){
	
transform:rotateY(45deg) translateZ(495px)
	
		}
		
.caroussel-image img:nth-child(3){
	
	transform:rotateY(90deg) translateZ(495px)
	
	}
	
.caroussel-image img:nth-child(4){
	
	transform:rotateY(135deg) translateZ(495px)
	
	}
	
.caroussel-image img:nth-child(5){
	
	transform:rotateY(180deg) translateZ(495px)
	
	}
	
.caroussel-image img:nth-child(6){
	
	transform:rotateY(225deg) translateZ(495px)
	
	}
	
.caroussel-image img:nth-child(7){
	
	transform:rotateY(270deg) translateZ(495px)
	
	}
	
.caroussel-image img:nth-child(8){
	
	transform:rotateY(315deg) translateZ(495px)
	
	}

	

	
@keyframes rotation{
from{transform:rotatey(0)}
to{transform:rotatey(1turn)}}
	
/*****fin carrousel 3d automatique*****/

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  margin: 10px;
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.book {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-cover {
  max-width: 50%;
  height: auto;
}

.book-description {
  max-width: 50%;
}

.book-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.book-author {
  font-style: italic;
  margin-bottom: 1rem;
}

.book-summary {
  margin-bottom: 2rem;
}

.book-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.buy-ebook {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #D03A3A;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.buy-audio{
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  background-color: #53d03a;
}

.buy-ebook:hover{
  background-color: #D03A3A;
}
.buy-audio:hover{
  background-color: #53d03a;
}
.btn {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
.icone {
  width: 50px;
}
#install-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#install-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#install-button:hover {
  background-color: #0062cc;
}
